body{
    font-family:"Montserrat";

}

#title{

    background-color: #ff4c68;
    color:#fff;
}
h1{

    font-size:3rem;
    line-height: 1.5;
}

.container-fluid{   
    padding:3% 5%;

}

#rowTitle{
    padding-bottom:4.5 rem;
}
.nav-bar-brand{
    font-family:"Ubuntu";
    font-size:2.5rem;
    font-weight:bold;

}